<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>invoice project</title>

    <link rel="stylesheet" type="text/css" href="/../assets/css/style.css">

</head>
<body>

<div class="header">
    <a href="/" class="logo">INVOICE</a>
    <div class="header-right">
        <a class="active" href="/all_item">item</a>
    </div>
</div>


    <table style="width:100%">
        <tr>
            <th>Invoice</th>
            <th>Date and Time</th>
            <th>Customer</th>
            <th>More detail</th>
        </tr>
        <tr th:each="invoice: ${invoices}">

            <td align="center">
                <p th:text="${invoice.getId()}"/>
            </td>
            <td align="center">
                <p th:text="${invoice.getTimestamp()}"/>
            </td>
            <td align="center">
                <p th:text="${invoice.getCustomer()}"/>
            </td>

            <td align="center">
                <form th:action="@{/invoice}" method="get">
                    <input type="hidden" name="id" th:value="${invoice.getId()}">
                    <button type="submit" class="center">More detail</button>
                </form>
            </td>

        </tr>

    </table>

</body>
</html>