<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>INVOICE - invoice</title>

    <link rel="stylesheet" type="text/css" href="/../assets/css/style.css">

</head>
<body>

<div class="header">
    <a href="/" class="logo">INVOICE</a>
    <div class="header-right">
        <a class="active header-right" href="/all_item">item</a>
    </div>
</div>

<h4 align="center">
    Invoice Detail
</h4>

<table style="width:100%">
    <tr>
        <th>Invoice</th>
        <th>Date and Time</th>
        <th>Customer</th>
    </tr>
    <tr>
        <td align="center">
            <p th:text="${invoiceSummary.getInvoice().getId()}"/>
        </td>
        <td align="center">
            <p th:text="${invoiceSummary.getInvoice().getTimestamp()}"/>
        </td>
        <td align="center">
            <p th:text="${invoiceSummary.getInvoice().getCustomer()}"/>
        </td>

    </tr>

</table>

<h4 align="center">
    List of Item
</h4>

<table style="width:100%">
    <tr>
        <th>item ID</th>
        <th>Name</th>
        <th>Price Per Unit</th>
        <th>Amount</th>
    </tr>

    <tr th:each="item: ${invoiceSummary.getItems()}">

        <td align="center">
            <p th:text="${item.getId()}"/>
        </td>
        <td align="center">
            <p th:text="${item.getName()}"/>
        </td>
        <td align="center">
            <p th:text="${item.getPrice()}"/>
        </td>


        <div th:each="amount: ${invoiceSummary.getItemsList()}">
            <div th:if="${amount.getItemId() == item.getId()}">
                <td align="center" th:text="${amount.getAmount()}"/>
            </div>
        </div>







    </tr>

</table>




</body>
</html>