<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>INVOICE - item</title>

    <link rel="stylesheet" type="text/css" href="/../assets/css/style.css">

</head>
<body>

<div class="header">
    <a href="/" class="logo">INVOICE</a>
    <div class="header-right">
        <a class="active" href="/all_item">item</a>
    </div>
</div>

<table style="width:100%">
    <tr>
        <th>Item ID</th>
        <th>Name</th>
        <th>Price</th>
    </tr>
    <tr th:each="item: ${items}">
        <td align="center">
            <p th:text="${item.getId()}"/>
        </td>
        <td align="center">
            <p th:text="${item.getName()}"/>
        </td>
        <td align="center">
            <p th:text="${item.getPrice()}"/>
        </td>
    </tr>

</table>



<a href="/item/add" class="button">
    ADD ITEM
</a>


</body>
</html>